// Sections

#root {
	height: 100vh;

	.inner-container {
		border: 2px solid #000000;
		border-radius: 10px;
		position: relative;
		width: 660px;
		background-color: #292929;

		.pad-bank {
			width: $padWidth * 3 + 32;
			height: $padHeight * 3 + 32;
			display: inline-block;
			margin: 60px 20px 20px 20px;
			filter: none;

			.drum-pad {
				position: relative;
				float: left;
				width: $padWidth;
				height: $padHeight;
				margin-right: 10px;
				border-radius: 5px;
				padding-top: 10px;
				padding-right: 60px;
				box-sizing: border-box;
				cursor: pointer;
			}
		}

		.logo {
			position: absolute;
			top: 5px;
			right: 10px;

			.inner-logo {
				display: inline-block;
			}
		}

		.controls-container {
			width: 240px;
			height: $padHeight * 3 + 32;
			display: inline-block;
			margin: 90px 20px 0 10px;
			vertical-align: top;

			.control {
				width: 100px;
				margin: auto;

				p {
					margin-bottom: 0;
				}

				.select {
					margin: auto;
					border: 2px solid #242629;
					width: 50px;
					height: 20px;
					padding: 1px;
					background-color: black;
					border-radius: 20px;
					box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);

					.inner {
						width: 20px;
						height: 20px;
						background: grey;
						border: 1px solid black;
						box-sizing: border-box;
						cursor: pointer;
						border-radius: 20px;
						box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
						transition: transform 0.2s ease-out;
					}
				}

				#indicator {
					float: right;
					margin-top: 5px;
					width: 10px;
					height: 10px;
					border-radius: 10px;
					background-color: rgb(105, 233, 0);
					transition: opacity .4s ease-in .1s;
					border: 2px solid #242629;
					box-shadow: 0px 0px 3px rgba(105, 233, 0, .3);
				}
			}

			#display {
				width: 200px;
				height: 60px;
				background-color: #000000;
				margin: 15px auto;
				padding: 15px;
				border: 2px solid #1bb2dd;
				border-radius: 20px;
				box-sizing: border-box;
			}
		}
	}
}

// CUSTOM RANGE INPUT : Credit : https://github.com/darlanrod/input-range-scss/blob/master/_inputrange.scss

[type='range'] {
	-webkit-appearance: none;
	background: transparent;
	margin: $thumb-height / 2 0;
	width: $track-width;

	&::-moz-focus-outer {
		border: 0;
	}

	&:focus {
		outline: 0;

		&::-webkit-slider-runnable-track {
			background: lighten($track-color, $contrast);
		}

		&::-ms-fill-lower {
			background: $track-color;
		}

		&::-ms-fill-upper {
			background: lighten($track-color, $contrast);
		}
	}

	&::-webkit-slider-runnable-track {
		@include track;
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;
	}

	&::-webkit-slider-thumb {
		@include thumb;
		-webkit-appearance: none;
		margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
	}

	&::-moz-range-track {
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		@include track;
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;
		height: $track-height / 2;
	}

	&::-moz-range-thumb {
		@include thumb(-4);
	}

	&::-ms-track {
		@include track;
		background: transparent;
		border-color: transparent;
		border-width: ($thumb-height / 2) 0;
		color: transparent;
	}

	&::-ms-fill-lower {
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		background: $ie-bottom-track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: ($track-radius * 2);
	}

	&::-ms-fill-upper {
		@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: ($track-radius * 2);
	}

	&::-ms-thumb {
		@include thumb(-4);
		margin-top: $track-height / 4;
	}

	&:disabled {
		&::-webkit-slider-thumb {
			@include disabled;
		}

		&::-moz-range-thumb {
			@include disabled;
		}

		&::-ms-thumb {
			@include disabled;
		}

		&::-webkit-slider-runnable-track {
			@include disabled;
		}

		&::-ms-fill-lower {
			@include disabled;
		}

		&::-ms-fill-upper {
			@include disabled;
		}
	}
}
