// Typography

@import url('https://fonts.googleapis.com/css?family=Gugi|VT323');

body {
	font-family: Gugi, cursive;

	#root {

		.inner-container {
			text-align: center;

			.pad-bank {

				.drum-pad {
					color: #1bb2dd;

					&:hover {
						color: orange;
					}
				}
			}

			.logo {

				.inner-logo {
					font-style: italic;
					font-weight: bold;
					font-size: 20px;
					color: #1bb2dd;
				}
			}

			.controls-container {

				.control {

					p {
						color: #1bb2dd;
					}
				}

				#display {
					font-family: VT323;
					font-size: 1.4em;
					color: orange;
				}
			}
		}
	}
}
